.container {
    max-width: 2560px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode input,
.dark-mode button,
.dark-mode select,
.dark-mode textarea {
    background-color: #1e1e1e;
    color: white;
    border: 1px solid #555;
}

.dark-mode input::placeholder {
    color: #ccc;
}

body,
input,
button,
header,
footer,
.header-li-link {
    transition: background-color 0.3s, color 0.3s;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 80px;
    background-color: darkgrey;
    transition: background-color 0.3s;
    margin-bottom: 5px;
}


.dark-mode header {
    background-color: #1a1a1a;
}

.main-logo {
    width: 120px;
    height: 120px;
    border-radius: 25px;
}

.header-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.header-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-left: 40px;
}

.header-li-link {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    font-family: "Savate", sans-serif;
    font-weight: 400;
    transition: color 0.3s;
}

.dark-mode .header-li-link {
    color: #ccc;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.header-search {
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.header-switch-btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.section1 {
    background-image: url("/images/section-img.jpg");
    background-position: center;
    height: 550px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section1-heading {
    font-family: "Dancing Script", cursive;
    font-size: 65px;
    font-weight: 700;
    color: aquamarine;
}

.section1-p {
    font-family: "Savate", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: darkcyan;
}

.section1-btn-discover {
    padding: 5px;
    border-radius: 25px;
    transition: all .4s ease;
    border: none;
    font-family: "Savate", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: darkcyan;
}

.section1-btn-discover:hover {
    background: aquamarine;
    scale: 1.3;
}

.section2 {
    padding: 120px;
}

.section2-img-container {
    display: flex;
    align-items: center;
    gap: 200px;
}

.section2-img {
    width: 450px;
    height: 450px;
}

.section2-p {
    font-size: 25px;
    line-height: 1.6;
    max-width: 600px;
    font-family: "Savate", sans-serif;
}

footer {
    padding: 50px;
    background-color: darkgrey;
}

.dark-mode footer {
    background-color: #1a1a1a;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.footer-logo-text {
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}


.footer-li-links {
    text-decoration: none;
    color: darkcyan;
    font-family: "Savate", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.footer-socials-li-link {
    text-decoration: none;
    color: darkcyan;
    font-size: 40px;
}

.footer-last-p {
    font-size: 25px;
    max-width: 600px;
    font-family: "Savate", sans-serif;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;

}

.movie-card {
    width: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.movie-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.dark-mode .movie-container {
    color: #1a1a1a;
}


